

.view {
    display: flex;
    flex-direction: column;
    line-height: 1.7;
    flex-wrap: nowrap;
    gap: 24px;
    padding: 32px 0;
    letter-spacing:0.3px;
}

.bg_code {
    display: grid;
    color: var(--token-comment);
    background-color: rgba(12,15,20, 0.73);
    
    /* backdrop-filter: blur(var(--blur, 2px)) saturate(var(--saturate, 1.15)); */
    /* border: 1px solid var(--border-color); */
    border-radius: 10px;
    padding: 16px 0;
    overflow-x: auto;
    line-height: 24px;
    font-family: "Fira Code", Menlo, monospace;
    font-size: 14px;

    margin-block: 0;
    margin-inline: 0;
    margin: 0;
}

.bg_code pre {
    /* margin-block: 1em 1em; */
    margin-block: 0;
    margin-inline: 0;
    margin: 0;
}

.bg_code code {
    font-family: "Fira Code", Menlo, monospace;
    font-weight: normal;
    font-style: normal;
    display: grid;
    font-weight: 300;
}

.view p {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

.view h2 {
    color: var(--text-primary);
    letter-spacing: 0.3px;
    line-height: 1.75;
    margin: 0px;
    padding: 0px;
    margin-top: 3rem;
    margin-bottom: 0.75rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.dash_divider {
    flex: 1 1 0%;
    width: 100%;
    height: 1px;
    border: none;
    background-image: linear-gradient(to right, var(--border-color) 50%, var(--background) 0);
    background-size: 8px 1px;
    background-repeat: repeat-x;
    margin-top: 0.25rem;
}


