.links_container {
    background: rgba(12, 15, 20, 0.69);
    margin-bottom: 24px;
    padding: 36px 24px;
}

.links {
    display: grid;
    grid-template-columns: 1fr  2.5fr;
}

.links .links_title {
    grid-column: 1;
}

.links .links_list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.links .link_item {
    display: flex;
    justify-content: space-between;
}

.links .link_date {
    font-size: 12px;
}

.divider {
    width: 100%;
    height: 1px;
    border: none;
    background-image: linear-gradient(to right, var(--border-color) 50%, var(--background) 0);
    background-size: 8px 1px;
    background-repeat: repeat-x;
    margin-top: 0.25rem;
}

.link_a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--anchor-border-color, transparent);
    --hover-color: unset;
    /* color: var(--color, var(--text-tertiary)); */
    color: var(--color, var(--hyperlink));
    text-decoration: none;
    outline: none;
    transition: border-color 0.3s, color 0.3s;
}

.link_a:hover {
    /* --anchor-border-color: var(--accent); */
    --color: var(--hover-color, var(--accent));
    --hover-translation-distance: var(--arrow-translation, 0);
}

