# .github/workflows/ci.yml
name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch: {}

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0   # 重要：保留 git 历史，供 `--since` 使用

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        # with:
        #   version: 8

      - name: Setup Node (with pnpm cache)
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate
          pnpm install --frozen-lockfile

      # 暂时不需要在这一步构建 企业应该在这里构建
      # - name: Build
      #   run: pnpm -w run build:prod --since=origin/main

      - name: Test
        run: pnpm -w run test:changed
        # run: pnpm -w turbo run test --since=origin/main

      - name: Lint & Typecheck
        run: pnpm -w run lint && pnpm -w turbo run check-types
        # run: pnpm -w turbo run lint && pnpm -w turbo run check-types

      # - name: Upload artifacts (optional)
      #   if: ${{ github.ref == 'refs/heads/main' }}
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: build-artifacts
      #     path: dist/
      #     retention-days: 1 # 只保留1天