name: Release

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pull-requests: write
  issues: read
  # id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      published: ${{ steps.define_published.outputs.published }}

    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      # 执行环境 pnpm
      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      # 执行环境 node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      # 执行环境 dependencies
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Create Release PR
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release
          # branch: release/main # 控制分支名字
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Define published
        id: define_published
        run: |
          if git log -1 --pretty=%B | grep -q "Version Packages"; then
            echo "published=true" >> $GITHUB_OUTPUT
          else
            echo "published=false" >> $GITHUB_OUTPUT
          fi

  deploy:
    name: Deploy to Cloudflare Pages
    needs: release
    if: ${{ needs.release.outputs.published == 'true' }}
    runs-on: ubuntu-latest
    environment: 
      name: production
      url: https://blog.hiou.top 
    env: # 【注入变量】Job 2 也要能连上 Turbo 云端
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - name: show published
        run: echo "JOB OUTPUT published = '${{ needs.release.outputs.published }}'"

      - name: Prepare Deploy
        run: echo "prepare to build and deploy to production..."

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # 必须拉取完整历史，Turbo 才能算出正确的 Hash 命中缓存
          
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
      
      - run: pnpm install --frozen-lockfile

      - name: Build Project
        run: pnpm -w run build:changed # 增量构建

      - name: Deploy
        run: echo "deploy to production..."
        # run: pnpm deploy-script

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist/ --project-name=hiblog